:root {
	// Paddings
	--padding-container-horizontal: 2rem;
	--padding-container-vertical: 6.4rem;

	// Margins
	--margin-between-paragraphs: 2.7rem;

	// Mobile
	@media (max-width: 600px) {
		--padding-container-horizontal: 1.8rem;
		--padding-container-vertical: 4rem;
	}
}
